.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.address-text {
  color: grey;
  font-style: italic;
}

.mylocation-btn {
  color: #4285F3;
}

.delete-btn {
  color: black;
}

.wide-btn {
  width: 100%;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.padding {
  padding: 12px 16px;
}
