<h1>Register</h1>

<mat-radio-group aria-label="Select an role">
  <mat-radio-button value="1">Driver</mat-radio-button>
  <mat-radio-button value="2">Customer</mat-radio-button>
</mat-radio-group>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input type="text" matInput
           placeholder="username" >
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>firstname</mat-label>
    <input type="text" matInput
           placeholder="firstname" >
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>lastname</mat-label>
    <input type="text" matInput
           placeholder="lastname" >
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
</form>
<div class="password-container">
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hidePassword? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Passwort anzeigen/verbergen'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>


