<form class="example-form" (ngSubmit)="onRegister()">
  <h1>Register</h1>
  <br>
  <mat-radio-group [(ngModel)]="role" [formControl]="RoleControl" aria-label="Select a role"  name="role">
    <mat-radio-button value="Driver">Driver</mat-radio-button>
    <mat-radio-button value="Customer">Customer</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field appearance="fill" class="car-select">
    <mat-label>Choose a vehicleClass</mat-label>
    <mat-select [(ngModel)]="vehicleClass" [formControl]="CarControl">
      <mat-option value="Small">Small</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="Large">Large</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username" placeholder="Username" required>
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Firstname</mat-label>
    <input matInput [(ngModel)]="firstName" name="firstname" placeholder="Firstname" required>
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Lastname</mat-label>
    <input matInput [(ngModel)]="lastName" name="lastname" placeholder="Lastname" required>
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" name="email" placeholder="Ex. pat@example.com" required email>
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="birthDate" name="date">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <div class="register-button-container">
    <button mat-raised-button color="primary" type="submit" >Registrieren</button>
  </div>
</form>




