<div class="profile-container">
    <img
            ngSrc="{{ profileData?.profilePicture ? profileData.profilePicture : 'assets/placeholder.png' }}"
            alt="UserPic"
            class="profile-photo"
            height="200"
            width="200"
    />

    <div class="profile-info">
        <h2>{{ profileData?.username }}</h2>
        <h3 *ngIf="profileData?.role">{{ profileData.role }}</h3>

        <div class="profile-details">
            <p><strong>First Name:</strong> {{ profileData?.firstName }}</p>
            <p><strong>Last Name:</strong> {{ profileData?.lastName }}</p>
            <p><strong>Email:</strong> {{ profileData?.email }}</p>
            <p><strong>Birthdate:</strong> {{ profileData?.birthDate | date: 'dd-MM-yyyy' }}</p>
            <p><strong>Total Rides:</strong> {{ profileData?.totalRides }}</p>
            <p><strong>Rating:</strong> ⭐⭐⭐⭐✰</p>

            <p *ngIf="profileData?.role === 'Fahrer'">
                <strong>Car Class:</strong> {{ profileData?.vehicleClass }}
            </p>
        </div>
    </div>
</div>
