<mat-toolbar class="navbar">
  <span class="navbar-title">SEP-Drive</span>
  <span class="spacer"></span>

  <!-- If the user is not logged in, show the login button -->
  <button
    *ngIf="!isLoggedIn"
    mat-raised-button
    color="accent"
    class="login-button"
    (click)="openLoginDialog()">
    Login
  </button>

  <!-- If the user is logged in, show the username and photo -->
  <div *ngIf="isLoggedIn" class="user-info" (click)="goToProfile()">
    <img
      ngSrc="{{ photoUrl }}"
      alt="UserPic"
      class="user-photo"
      width="35"
      height="35"
      fetchpriority="auto"
    />
    <span class="username">{{ username }}</span>
  </div>
</mat-toolbar>
