<mat-form-field class="example-full-width">
  <mat-label>{{ label }}</mat-label>
  <input type="text"
         matInput
         [placeholder]="placeholder"
         [formControl]="control"
         [matAutocomplete]="auto"
         [attr.aria-label]="label">


  <ng-template #suffixContainer>
    <ng-content select="[matSuffix]"></ng-content>
  </ng-template>
  <span matSuffix>
  <ng-container *ngTemplateOutlet="suffixContainer"></ng-container>
  </span>


  <button mat-icon-button matSuffix type="button" class="pinlocation-btn" (click)="pinLocation()"
          matTooltip="Use pin on map"
          matTooltipPosition="right">
    <mat-icon>location_on</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="onLocationSelected($event.option.value)">
    <mat-option *ngFor="let loc of filteredLocations | async" [value]="loc">
      {{ loc.name }}
      <br>
      <span class="address-text">{{ loc.address }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
