.register-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}
mat-form-field {
  text-align: center;
  width: 75%;
  margin-bottom: 16px;
}

.login-button-container {
  text-align: center;
  margin-top: 20px;
}

