
<form (ngSubmit)="onLogin()">
  <h1>Login</h1>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email" name="email" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required />
    <button
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Passwort anzeigen/verbergen'"
      [attr.aria-pressed]="hidePassword"
      type="button"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <div class="login-button-container">
    <button mat-raised-button color="primary" type="submit">Login</button>
  </div>
<p class="register-link">
  Don't have an account?
  <a routerLink="/register" (click)="closeDialog()">Register here</a>
</p>
</form>
